<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Search By Username</title>
</head>
<body>
<div align="center">
    <h1>Result Search By Username</h1>
    <br />

    <li th:each="searchByUsername: ${searchByUsername}">
                    <p >Username: <span th:text="${searchByUsername.username}"> </span></p>
                    <p >Active: <span th:text="${searchByUsername.active}"> </span></p>
                    <p >Role: <span th:text="${searchByUsername.user_role}"> </span></p>
    </li>

</div>
</body>
</html>