<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <div th:replace="/fragments/header :: header-css"/>
</head>
<body>
<div th:replace="/fragments/header :: header"/>
<div >
    <ul>
        <li th:each="postLists: ${postList}">

                    <div >
                        <p >ID: <span th:text="${postLists.id}"> </span></p>
                        <p >Title: <span th:text="${postLists.title}"> </span></p>
<!--                        <p >Intro: <span th:text="${postLists.intro}"> </span></p>-->
<!--                        <p >Name: <span th:text="${postLists.name}"> </span></p>-->
<!--                        <p >Date: <span th:text="${postLists.createDate}"> </span></p>-->
<!--                        <p >user_id: <span th:text="${postLists.user.id}"> </span></p>-->

<!--                        <p>Comment</p>-->
<!--                        <span th:each="comments : ${postLists.comments}">-->
<!--                        <h3 th:text="${comments.body}">Comments</h3>-->
<!--                        </span>-->

<!--                        <p>Category</p>-->
<!--                        <span th:each="category : ${postLists.category}">-->
<!--                        <h3 th:text="${category.category}">Category</h3>-->
<!--                        </span>-->

<!--                        <p>Tag</p>-->
<!--                        <span th:each="tag : ${postLists.tag}">-->
<!--                        <h3 th:text="${tag.name_tag}">Tag</h3>-->
<!--                        </span>-->

                        <a class="more-link" href="#">Read more &rarr;</a>
                    </div>

        </li>
    </ul>
</div>
<div th:replace="/fragments/footer :: footer"/>
</body>
</html>