<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>My Blog</title>

    <!-- FontAwesome JS-->
    <script defer src="https://use.fontawesome.com/releases/v5.7.1/js/all.js" integrity="sha384-eVEQC9zshBn0rFj4+TU78eNA19HMNigMviK/PU/FFjLXqa/GKPgX58rvt5Z8PLs7" crossorigin="anonymous"></script>

</head>
<body>

<header>
    <h1>QuyetVV Blog</a></h1>

    <div>Hi, my nam is QuyetVV<br><a href="#">Find out more about me</a></div>
    <ul>
        <li class="list-inline-item"><a href="https://github.com/QuyetVV1995"><i class="fab fa-github"></i></a></li>
        <li class="list-inline-item"><a href="https://github.com/QuyetVV1995"><i class="fab fa-facebook-square"></i></a>
        </li>
    </ul><!--//social-list-->
    <ul>
        <li>
            <a href="#"><i class="fas fa-home fa-fw mr-2"></i>Home </a>
        </li>
        <li>
            <a href="#"><i class="fas fa-bookmark fa-fw mr-2"></i>Spring Boot</a>
        </li>
        <li>
            <a href="#"><i class="fas fa-bookmark fa-fw mr-2"></i>Japanese</a>
        </li>
        <li>
            <a href="#"><i class="fas fa-user fa-fw mr-2"></i>About Me</a>
        </li>
    </ul>
    </div>
    </nav>
</header>

<div>

    <ul>
        <li th:each="postList: ${postList}">
            <p class="title mb-1">Title: <span th:text="${postList.title}"> </span></p>
            <p class="intro">Intro: <span th:text="${postList.intro}"> </span></p>
            <p class="intro">Create at: <span th:text="${postList.created_at}"> </span></p>
            <a class="more-link" href="blog-post.html">Read more &rarr;</a>

        </li>
    </ul>

</div>
</section>

<footer>
    <small class="copyright">Road to Japan <i class="fas fa-heart" style="color: #fb866a;"></i> </small>
</footer>

</div>
</body>
</html>