<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog</title>
</head>
<body>
<ul>
    <li th:each="postList: ${postList}">
        <p>ID: <span th:text="${postList.id}"> </span></p>
        <p>Title: <span th:text="${postList.title}"> </span></p>
        <p>Content: <span th:text="${postList.content}"> </span></p>
        <p>Create at: <span th:text="${postList.created_at}"> </span></p>
    </li>
</ul>


</body>
</html>