<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <div th:replace="/fragments/header :: header-css"/>
</head>
<body>
        <div th:replace="/fragments/header :: header"/>

         <form  action="#" th:action="@{/newPost}"
                th:object="${post}" method="post" class="form-horizontal"
                role="form">


            <div class="form-group">
                <label class="control-label" for="title"> Title </label> <input
                    id="title" class="form-control" th:field="*{title}"
                    required autofocus="autofocus" />
            </div>

            <div class="form-group">
                <label class="control-label" for="name"> Name </label> <input
                    id="name" class="form-control" th:field="*{name}"
                    required autofocus="autofocus" />
            </div>

            <div class="form-group">
                <label class="control-label" for="intro"> Intro </label> <input
                    id="intro" class="form-control" th:field="*{intro}"
                    required autofocus="autofocus" />
            </div>

            <div class="form-group">
                <label class="control-label" for="slug"> Slug </label> <input
                    id="slug" class="form-control" th:field="*{slug}"
                    required autofocus="autofocus" />
            </div>

             <input type="hidden" th:field="*{user}"/>

            <div class="form-group">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </form>

</body>
</html>