<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Search By Title</title>
</head>
<body>
<div align="center">
    <h1>Result Search By Title</h1>
    <br />

        <li th:each="searchByTitle: ${searchByTitle}">
            <div class="item mb-5">
                <div class="media">
                    <div class="media-body">
                        <p class="title mb-1">Title: <span th:text="${searchByTitle.title}"> </span></p>
                        <p class="intro">Intro: <span th:text="${searchByTitle.intro}"> </span></p>
                        <p class="intro">Create at: <span th:text="${searchByTitle.created_at}"> </span></p>
                    </div><!--//media-body-->
                </div><!--//media-->
            </div>
        </li>

</div>
</body>
</html>