<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/header :: header-css"/>
</head>
<body>
<div th:replace="/fragments/header :: header"/>
<h1>Dịch ngữ pháp Mimi kara N3 </h1>
<div class="container">
    <h2>Unit 　１ </h2>
    <h4 >復習：こと </h4>
    <ul style="list-style-type:circle">
        <li>先輩の言うことはよく聞いた方がいい。Nên nghe lời của tiền bối nói. </li>
        <li>英語を読むことはできるが、書くことはできない。Tôi có thể đọc tiếng anh nhưng viết thì không thể. </li>
        <li>朝は電車が込んンでいて、乗れないことがある。Buổi sáng vì tàu điện đông nên cũng có lúc không lên được tàu. </li>
        <li>富士山に登ったことがありますか。Đã từng leo núi phú sĩ bao giờ chưa? </li>
        <li>いろいろ比べてみて、この辞書を買うことにした。Sau khi so sánh nhiều loại, tôi quyết định mua từ điển này. </li>
        <li>来月アメリカへ出張することになった。Tháng sau tôi đến mỹ công tác. </li>
    </ul>

    <h3>１．～ことにしている。	Quyết định làm gì</h3>
    <span>意味：自分で決めた習慣 	thói quen do tự mình quyết định</span>
    <span>接続：動詞の「辞書形＋ナイ形」 Vる＋Vない</span>
    <ul>
        <li>健康のため、毎朝牛乳を読むことをしている。Vì sức khỏe, mỗi sáng tôi đều uống sữa. </li>
        <li>田中さんは、帰りが遅くなる時は、必ずメールすることにしているそうだ。Anh tanaka, mỗi khi về muộn thì nhất định sẽ gửi tin nhắn. </li>
        <li>若いころはオリンピックに出るのが夢で、毎日8時間練習することにしていた。Khi còn trẻ vì giấc mơ tham dự olympic, mỗi ngày đều luyện tập 8 tiếng. </li>
        <li>休日は家で仕事をしないことにしているのに、今週はどうしても金曜日に終わられることができず、持って帰ってきた。
            Tôi có thói quen không làm việc ở nhà vào ngày nghỉ, nhưng tuần này tôi vẫn chưa thể kết thúc công việc vào thứ 6 nên tôi mang về nhà làm.</li>
    </ul>

    <h3>２．～ことになっている		trở nên</h3>
    <span>意味：（話し手の意志に関係なく決まる）習慣、規則、予定  (quyết định không liên quan đến ý chí của người nói) tập quán, quy tắc, dự định </span>
    <span>接続：動詞の「辞書形＋ナイ形」Vる＋Vない</span>
    <ul>
        <li>本稿では、教室では日本語しか話せないことになっている。Ở trường học này, trong các phòng học chỉ được nói tiếng nhật. </li>
        <li>法律では、20歳未満はお酒を読んではいけないことになっている。Theo pháp luật, chưa đủ 20 tuổi thì việc uống rượu là không được cho phép. </li>
        <li>私のうちでは、1月二日に親戚がみな、集まることになっている。Ở nhà tôi, vào ngày 2 tháng 1, tất cả người thân sẽ tập trung lại. </li>
        <li>明日はアルバイトの面接に行くことになっている。Ngày mai có cuộc phỏng vấn về việc đi làm thêm.</li>
        <li>中村さんとここで10時に会うことになっていたんですが。。。」Tôi có hẹn gặp anh tanaka ở đây vào lúc 10h nhưng mà…</li>
    </ul>

    <h3>３．～ようになっている  </h3>
    <span>意味：機械などがそのようにできている nói về những thứ như máy móc có thể làm gì đó </span>
    <span>接続：動詞の「辞書形＋ナイ形」Vる＋Vない</span>
    <ul>
        <li>このストーブは大きく傾くと、自動的に火が消えるようになっている。Cái lò sưởi này khi nghiêng lớn, thì lửa sẽ tự động tắt. </li>
        <li>このドアは閉めると、鍵がかかるようになっている。 Khi đóng cửa này, khóa sẽ khóa lại.</li>
        <li>この自動販売機はレバーを押さないと、お釣りが出ないようになっている。Cái máy bán hàng tự động này khi không nhấn cái cần gạt thì tiền lẻ sẽ không ra. </li>
        <li>この画面はパスワードを入力しないと、開くことができないようになっている。Màn hình này khi không nhập mật không thì không thể mở được</li>
    </ul>

    <h3>４．～ような・ように  </h3>
    <span>意味：例を閉めす  chỉ ra ví dụ </span>
    <span>接続: 名詞＋動詞」の名詞修飾形 Danh từ, động từ bổ nghĩa cho danh từ</span>
    <ul>
        <li>私は赤やピンクのような、明るい色が好きだ。Tôi thích những màu sáng như là màu đỏ và màu hồng. </li>
        <li>私も早くリンさんのように、上手に日本語が話せるようになりたい。 Tôi muốn nhanh trở lên nói tiếng nhật giỏi như Linh.</li>
        <li>私もあなたが着ているようなセーターが欲しい」 Tôi cũng muốn có cái áo khoác như cái bạn đang mặc. </li>
        <li>アメリカのような大きな国では、国内にも時差があって当然だ。Ở đất nước rộng lớn như là mỹ thì trong đất nước có sự chênh lệch múi giờ là điều đương nhiên.</li>
    </ul>

    <h3>５．～みたいだ 	phỏng đoán  </h3>
    <span>意味：推量（はっきりしないが）～と思われる　＝　ようだ  Phỏng đoán (không chắc chắn) nghĩ là… =  ようだ   </span>
    <span>接続:名詞・「動詞・い形容詞・な形容詞」の普通体 	N, V, Aい, Aなthể thông thường.
    ただし、な形容詞現在に「だ」はつかない  tuy nhiên không sử dụng Aな  với だ
    </span>
    <ul>
        <li>「星がたくさん出ている。明日も晴れみたい」Có nhiều sao vậy. có lẽ ngày mai sẽ nắng. </li>
        <li>「あの店、人気がないみたいだね。いつ行ってもすいている」Cửa hàng đó có vẻ không được yêu thích nhỉ. Lúc nào đi cũng thấy vắng.</li>
        <li>「お父さん、すごく怒っているみたいだから、近づかないほうがいいよ」bố tôi có vẻ đang tức giận nên đừng lại gần tốt hơn. </li>
        <li>「風邪をひいたみたいなんです。昨日から、のどが痛くて」có vẻ như bị cảm rồi. Từ hôm qua cổ họng đã đau</li>
        <li>「おうさん、この頃やせたみたい。どうかしたの」「ううん、何でもない」Anh Ou, hình như dạo này anh gầy đi à? Có chuyện gì xảy ra à? À không, không có chuyện gì đâu</li>
        <li>「今井君はもう帰ったのかな」「みたいだね。かばんがないから」bé Imai cũng đã về rồi nhỉ. Có lẽ là như vậy, vì không thấy cặp</li>
    </ul>
    <span>意味：比喩 so sánh　　本当はそうではないが、そう見える・思われる thực tế không phải như vậy nhưng nhìn như vậy, nghĩ như vậy　＝　ようだ</span>
    <span>接続：名詞・動詞の普通体 	N,V thể thông thường</span>
    <ul>
        <li>宝くじで１０００万円当たった。夢（を見ている）みたいだ。Tôi đã trúng xổ số 1000man yên. Giống như là mơ vậy.</li>
        <li>「あの雲、見て。象みたい形だよう」「ほんとだ」Nhìn đám mây đó kìa, trong như hình con voi vậy. Thật đó</li>
        <li>兄はすぐに泣いたり怒ったり笑ったりする。まったく、子供みたいだ。Anh tôi vừa khóc, vừa giận, vừa cười. Hoàn toàn như trẻ con.</li>
        <li>ホームステイ先の家族はみんな優しくて、自分の家にいるみたいだった。 Vì mọi người ở gia đình homestay này rất hiền lành, tôi cảm thấy giống như nhà mình vậy</li>
    </ul>
    <span>意味：例を閉めす chỉ ra ví dụ　＝　よう</span>
    <span>接続：名詞 N danh từ</span>
    <ul>
        <li>私は寒いのが嫌いなので、ハワイみたいな、1年中暖かいところで暮らしたい。Vì tôi không thích lạnh nên tôi muốn sống nơi nào ấm áp quanh năm như là Hawai.</li>
        <li>私も早くリンさんみたいに、日本語が上手になりたいなあ。Tôi muốn nhanh giỏi tiếng nhật như là Linh.</li>
        <li>私の田舎にはコンビニみたいな便利な店はありません。Ở quê tôi thì không có cửa hàng tiện lợi như là Konbini.</li>
        <li>彼みたいに遊んでばかりいると、試験に落ちますよ」chỉ toàn chơi như anh ấy thì sẽ trượt kì thi</li>
    </ul>
    <span>（注意）</span>
    <ul style="list-style-type:square">
        <li>ようだ」と似ているが、「みたい」はくだけた会話で使うことが多い。 みたいgiống với ようだ nhưng sử dụng nhiều trong văn nói</li>
        <li>な形容詞と同じ活用をする。Sử dụng tương đương như tính từ Aな</li>
    </ul>

    <h4>復習：～らしい  Có vẻ</h4>
    <ul style="list-style-type:circle">
        <li>朝起きてみると、道が濡れていた。夜の間に雨が降ったらしい。Sáng nay khi thức dạy, đường đã bị ướt. Có vẻ tối đêm qua đã mưa.</li>
        <li>「うわさによると、あの二人、結婚するらしいよ」Theo như tin đồn, 2 người đó sắp kết hôn.</li>
    </ul>

    <h3>６．～らしい Có vẻ  </h3>
    <span>意味：～という感じを強く与える、～にふさわしい  cho 1 cảm giác mạnh, đúng như là, đậm vẻ.. </span>
    <span>接続：名詞 N Danh từ</span>
    <ul>
        <li>大山さんは拾ってきた猫を育ってているそうだ。いかにも(nhấn mạnh)動物好きな彼らしい。Anh ooyama có vẻ đã nuôi con mèo nhặt được. thật đúng là một người yêu động vật. </li>
        <li>「そのセーターの色、春らしくてすてきね」màu của cái áo khoác đó đẹp như mùa xuân nhỉ</li>
        <li>「就職したのだから、もっと社会人らしくしなさい」Sau khi tìm được việc, có vẻ giống người giống như người đang đi làm hơn nhỉ </li>
        <li>彼女は体が丈夫で、病気らしい病気をしたことがない。Cô ấy có cơ thể khỏe mạnh nên không bao giờ bị ốm nặng</li>
    </ul>

    <h4>復習：Vる＋Vない～つもり	Dự định </h4>
    <ul style="list-style-type:circle">
        <li>大学を卒業したら就職するつもりだ。進学するつもりはない。Sau khi tốt nghiệp đại học tôi dự định đi tìm việc. không có dự định học lên.</li>
        <li>山田さんは今の仕事を辞めるつもりらしい。Có vẻ anh yamada có dự định nghỉ công việc hiện tại.</li>
        <li>もうたばこは吸わないつもりだったが、人に勧められてつい吸ってしまった。Tôi đã có dự định không hút thuốc nhưng mọi người rủ rê  nên đã lỡ hút mất rồi.</li>
    </ul>

    <h3>７．Vた～つもり  Dự định  </h3>
    <span>意味：～だと思っていたが、実際は～していなかった・そうではなかった  Tôi đã nghĩ… nhưng thực tế không phải </span>
    <span>接続：名詞＋の・動詞の「タ形・ている」・「い形容詞・な形容詞」の名詞修飾形 </span>
    <ul>
        <li>メールを送ったつもりだったが、届いていなかった。Tôi nghĩ là đã gửi mail rồi nhưng không có mail gửi gửi đi. </li>
        <li>バッグに財布を入れたつもりだったが、買い物をしようとしたら、なかった。Tôi đã nghĩ bỏ ví vào cặp rồi nhưng sau khi mua đồ mới thấy không có.</li>
        <li>この問題は分かっているつもりだったが、テストでは間違えてしまった。Tôi nghĩ đã hiểu vấn đề này rồi nhưng trong bài kiểm tra đã làm sai. </li>
        <li>まだ若いつもりだったのに、電話の中で席を譲られてショックだった。 Tôi cứ nghĩ là tôi còn trẻ nên tôi cảm thấy rất shock khi được nhường ghế trên tàu điện.</li>
        <li>私は人より絵が上手なつもりだったが、美術大学に進学したら、もっとすごい人が大勢いた。Tôi đã nghĩ vẽ giỏi hơn mọi người nhưng khi học lên trường đại học mỹ thuật thì có rất nhiều giỏi hơn.</li>
        <li>僕は彼女とは友達のつもりなのに、彼女は僕と結婚したいらしい。困ったなあ。Tôi đã nghĩ tôi và cô ấy chỉ là bạn nhưng cô ấy có vẻ muốn kết hôn với tôi. Thật khó khăn.</li>
    </ul>

    <h4>復習：～てくる  </h4>
    <ul style="list-style-type:circle">
        <li>駅が（・帰国の日が）近づいてきた。Ngày về nước đang tiến đến gần (hành động xảy ra theo xu hướng gần người nói).</li>
        <li>久しぶりに父から電話がかかってきた。Tôi nhận được điện thoại từ bố sau một thời gian dài.</li>
        <li>うちに来る友人に、飲み物を買って来てくれるように頼んだ。Đến nhà người bạn thận, tôi đã nhờ bạn đi mua đồ uống.</li>
        <li>（でかけるときに）「ちょっと、コンビニに行ってきます」(khi ra ngoài) “ tôi đi ra Konbini 1 chút nhé”</li>
        <li>（駅で）「切符を買ってくるから、ここで待っていて」(ở nhà ga) “ vì tôi cần đi mua vé nên hãy chờ ở đây nhé”</li>
        <li>寒くなってきた。もうすぐ冬だ。 Đã cảm thấy lạnh. Sắp mùa đông rồi nhỉ.</li>
        <li>日本で働く外国人が増えてきた。Ở nhật bản thì người nước ngoai đang làm việc đang tăng lên.</li>
    </ul>

    <h3>8．～てくる</h3>
    <span>意味：体、心の中から出る những cảm xúc từ trái tim, cơ thể</span>
    <span>接続：動詞のテ形　　 Vて</span>
    <ul>
        <li>悲しくて、涙が出てきた。 Vì buồn nên nước mắt đã rơi.</li>
        <li>こう暑いと、じっとしていても汗が出てくる。Khi trời nóng thì đứng yên 1 chỗ mồ hôi cũng chảy ra.</li>
        <li>その時はあまり感じなかったが、後になって怒りがわいていた。Thời gian đó không cảm thấy gì mấy nhưng sau đó đã tức giận.</li>
        <li>しばらくしてから、優勝の喜びがこみあげてきた。Một lúc sau, niềm vui chiến thắng tràn ngập.</li>
    </ul>
</div>

<h2>Category:</h2>
<!--Category-->
<div class="well" th:each="category : ${post.category}">
    <h3 th:text="${category.category}">Category</h3>

</div>
</body>
<div th:replace="/fragments/footer :: footer"/>
</html>